.bg-container {
  margin-top: 100px;
  padding-top: 50px;
  overflow-y: auto;
}

.container {
  height: 100vh;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px auto 100px;
  grid-template-areas:
    'm h h h'
    'm c c c'
    'm f f f';
}

.header {
  grid-area: h;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mini-header {
  grid-area: mh;
  display: none;
}

.menu {
  grid-area: m;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 15px;
}

.content {
  grid-area: c;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
  padding: 15px;
}

.footer {
  grid-area: f;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// querys

@media (min-width: 900px) and (max-width: 1199px) {
  .bg-container {
    padding-top: 20px;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 135px auto 100px;
    grid-template-areas:
      'mh mh mh'
      'c c c'
      'f f f';
  }

  .header {
    display: none;
  }

  .mini-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .content {
    grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  }

  .menu {
    display: none;
  }
}
