@import '../../scss/variables.scss';

.container-profile {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;

  .container-grid-profile {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 550px;
    grid-template-areas: 'm c';

    // mobile / tablet breakpoint
    @include responsiveness(350px, 1200px) {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 1fr;
      grid-template-rows: 50px auto;
      grid-template-areas:
        'ma'
        'c';
    }

    .menu-profile {
      grid-area: m;

      // mobile / tablet breakpoint
      @include responsiveness(350px, 1200px) {
        display: none;
      }

      &-adaptive {
        grid-area: ma;
        display: none;

        // mobile / tablet breakpoint
        @include responsiveness(350px, 1200px) {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          width: 100%;
          background: #ffffff;
          border-radius: 4px;
        }
      }
    }

    .profile-content {
      grid-area: c;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 100%;
      height: auto;
      padding: 20px;

      border-radius: 4px;
      background: #ffffff;
      box-shadow: 37px 37px 100px #b3b3b3, -37px -37px 100px #ffffff;

      .box-form-fixed {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 64px;

        // mobile breakpoint
        @include responsiveness(350px, 600px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .input-width-fixed {
          width: 50%;

          // mobile / tablet breakpoint
          @include responsiveness(350px, 1200px) {
            width: 100%;
          }
        }
      }
    }
  }
}
