@import '../../../scss/variables.scss';

.splide__slide img {
  width: 100%;
  height: auto;
}

// carousel
.splide__slide {
  height: 'auto';

  // mobile breakpoint
  @include responsiveness(0px, 599px) {
    height: 60vh;
  }
}

.splide__arrow {
  // para flechas del carousel, HAY QUE CREARLE QUERYS  esto
  top: 40%;

  // tablet brekpoint
  @include responsiveness(600px, 900px) {
    top: 35%;
  }
}

// card
.splide__slide .MuiCard-root {
  width: 100%;
  // OJO PUEDA QUE HAYA QUE COLOCAR HEIGTH PARA EL CARD
  height: 'auto';
}
