.box-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  border-radius: 4px;
  background: #ffffff;
  box-shadow: 37px 37px 100px #b3b3b3, -37px -37px 100px #ffffff;
}
