.splide__slide img {
  width: 100%;
  height: auto;
}

// carousel
.splide__slide {
  height: 'auto';
  // height: 45vh;
}

.splide__arrow {
  // para flechas del carousel, HAY QUE CREARLE QUERYS  esto
  top: 40%;
  // top: 50%;
}

// card
.splide__slide .MuiCard-root {
  width: 100%;
  // OJO PUEDA QUE HAYA QUE COLOCAR HEIGTH PARA EL CARD
  height: 'auto';
}

// querys

// mobile
@media (min-width: 0px) and (max-width: 600px) {
  .splide__slide {
    height: 60vh;
  }
}

// tablet
@media (min-width: 600px) and (max-width: 900px) {
  .splide__arrow {
    top: 35%;
  }
}
