@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap';
$suzuki-bg: url('../src/assets/img/suzuki-moto.webp');

:root {
  --darkBlue: #041562;
  --blue: #11468f;
  --red: #da1212;
  --white: #eeeeee;
  --font_bold: 500;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

// backgrounds
.bg-mt-img {
  width: 100vw;
  height: 100vh;
  background-image: $suzuki-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
}
