@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

/* variables */
:root {
	--darkBlue: #041562;
	--blue: #11468f;
	--red: #da1212;
	--white: #eeeeee;
	--font_bold: 500;
}

/* containers */
.container {
	position: relative;
	min-height: 100vh;
}

.wrap-container {
	padding-bottom: 30vh;
}

/* navbar styles */
.navbar {
	width: 100%;
	height: 80px;

	display: flex;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	top: 0px;
	z-index: 5;
	background: var(--white);
	/* transition for scroll */
	transition: 0.3s ease-in-out;
}

.container_items {
	display: flex;
	background: var(--white);
	/* transition for scroll */
	transition: 0.3s ease-in-out;
}

.container_logo {
	width: 200px;
	height: 80px;
}

.logo {
	width: 100%;
	height: 100%;
}

.item {
	width: 100px;
	height: auto;

	text-align: center;
	list-style: none;
	padding: 28px 5px;
	color: var(--darkBlue);
	/* background-color: var(--white); */
	/* transition for scroll */
	transition: 0.3s ease-in-out;
}

.item:hover {
	border-bottom: 3px solid var(--red);
	font-weight: bold;
}

.ancor_item {
	text-decoration: none;
	color: var(--darkBlue);
	/* transition for scroll */
	transition: 0.3s ease-in-out;
}

/* shoping cart style*/

.openList {
	position: relative;
}

.container_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	width: 300px;
	height: 0;
	top: 0px;
	right: 0px;
	opacity: 0;
	z-index: -1;
	background: var(--white);
	transition: 0.5s ease-in-out;
	border-radius: 0 0 15px 15px;
}

.openList:hover .container_list {
	height: auto;
	max-height: 350px;
	opacity: 1;
	top: 79px;
	transition: 0.5s ease-in-out;
	/* background: var(--white); */
}

.list_flex {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;

	width: 100%;
	height: 100%;
	/* overflow: scroll; */
	/* scroll-snap-type: y proximity; */
	overflow-y: scroll;
}

.list_item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 90%;
	height: 55px;
	/* height: 100%; */
	margin: 5px 0px;
	gap: 27px;
	border-bottom: 1px solid var(--red);
	/* scroll-snap-align: center; */
}

.noItem {
	/* visibility: hidden; */
	display: flex;
}

.sectionItem_img {
	width: 80px;
	margin-bottom: 3px;
}

.sectionItem_img figure {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionItem_name {
	width: 120px;
	/* scroll-snap-align: center; */
}

.sectionItem_btn {
	width: 68px;
}

.img_item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.btn_delete {
	cursor: pointer;
	background: transparent;
}

.delete_icon {
	width: 15px;
	height: 15px;
}

.container_list_buttton {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	margin: 10px 0px;
	pointer-events: none;
	/* el pointter-Event deshabilita un boton de forma css asi no puede hacer click ni hover */
	opacity: 0.65;
}

.container_list_buttton a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn_cart {
	width: 80%;
	height: 40px;
	background: var(--blue);
	color: var(--white);
	border-radius: 30px;
	cursor: pointer;
}

.btn_cart:hover {
	box-shadow: 0 0 15px var(--blue);
	cursor: pointer;
}

/* styles only when the navbar do scroll */
.navbar.scroll {
	background: var(--blue);
}

.container_items.scroll {
	background: var(--blue);
}

.ancor_item.scroll {
	color: var(--white);
}

.item.scroll {
	color: var(--white);
}

.container_list.scroll {
	background: var(--blue);
}

.btn_cart.scroll {
	background: var(--white);
	color: var(--darkBlue);
}

/* media querys */

@media (min-width: 481px) and (max-width: 778px) {
	.navbar {
		flex-direction: column;
		height: 100px;
	}

	.item {
		width: 180px;
		height: 40px;
		line-height: 40px;
		padding: 0px;
	}

	.openList:hover .container_list {
		top: 40px;
	}

	.container_logo {
		width: 180px;
		height: 60px;
	}

	.sectionItem_name {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 16px;
		margin-bottom: 10px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.navbar {
		flex-direction: column;
		height: 100px;
	}

	.item {
		width: 120px;
		height: 40px;
		line-height: 40px;
		padding: 0px;
	}

	.openList:hover .container_list {
		top: 39px;
		width: 493px;
		right: -55%;
		height: auto;
		max-height: none;
	}

	.container_list {
		width: 100%;
	}

	.container_logo {
		width: 180px;
		height: 60px;
	}

	.sectionItem_name {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 14px;
		margin-bottom: 10px;
	}

	.btn_cart {
		width: 60%;
	}
}
