@import '../../scss/variables.scss';

.mg-slider {
  margin-top: 7vh;
  margin-bottom: 7vh;

  // tablet breakpoint
  @include responsiveness(900px, 1200px) {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  // mobile and tablet breakpoint
  @include responsiveness(600px, 900px) {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  // mobile breakpoint
  @include responsiveness(0px, 600px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.mg-listCatg {
  margin-top: 9vh;
  margin-bottom: 9vh;

  // tablet breakpoint
  @include responsiveness(900px, 1200px) {
    margin-top: 7vh;
    margin-bottom: 7vh;
  }

  // mobile and tablet breakpoint
  @include responsiveness(0px, 900px) {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
