@import '../src/scss/variables.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: unquote($main-font);
  // funcion unquote permite quitar las comillas del parametro pasado dejandolo libre, esto se usa mucho para casos de fonts
  // ya que en las variables las colocamos en comillas y la propiedad para compilarla la debe ver sin ellass
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}
