// fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap';
$main-font: 'Roboto, sans-serif';

// colors
:root {
  --darkBlue: #041562;
  --blue: #11468f;
  --red: #da1212;
  --white: #eeeeee;
}
